* {
    font-family: 'Roboto', sans-serif;
}
.flex {
    display: flex;
}
body {
    background-color: white;
}
.navbar {
    width: 100%;
    background-color: white;
    flex-direction: column;
}
.navbar-container {
    flex-direction: row;
    margin-bottom: 10px;
}
.logo {
    width: 50%;
    color: black;
    margin-left: 20px;
}
.navbar-buttons {
    width: 50%;
    flex-direction: row;
    justify-content: flex-end;
}
.navbar-buttons a{
    margin: 15px;
    color: gray;
}
.line {
    background-color: rgb(211, 211, 211);
    width: 100%;
    height: 1px;
    align-self: center;
}
.container {
    flex-direction: column;
    margin-left: 20px;
}
.guide {
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}
.guide a{
    color: gray;
    margin: 5px;
    text-transform: uppercase;
    font-size: 15px;
}
.guide-active {
    color: black;
}
.main {
    flex-direction: row;
    justify-content: center;
    background-color: white;
    width: 100%;
}
.main-left {
    width: 650px;
    height: 550px;
    flex-direction: column;
}
.main-left-top {
    width: 100%;
    height: 70%;
}
.main-image {
    background-image: url("src/assets/product3.jpeg");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.main-left-bottom {
    width: 100%;
    height: 30%;
    flex-direction: row;
}
.product-image1 {
    background-image: url("src/assets/product3.jpeg");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 33%;
    height: 150px;
    margin-top: 10px;
    margin-right: 5px;
}
.product-image2 {
    background-image: url("src/assets/product2.jpeg");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 33%;
    height: 150px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.product-image3 {
    background-image: url("src/assets/product1.jpeg");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 33%;
    height: 150px;
    margin-top: 10px;
    margin-left: 5px;
}
.main-right {
    width: 45%;
    flex-direction: column;
    justify-content: start;
    align-self: center;
    padding-left: 20px;
}
h1 {
    color: black;
}
a {
    text-decoration: none;
}
.main-right p{
    color: gray;
}
.main-right a{
    background-color: rgb(49, 49, 49);
    color: white;
    padding: 20px 20px;
    width: 150px;
    text-align: center;
}